.container {
    margin-top: 10px;
    margin-right: 550px;
    padding: 10px;

    .card {
        padding: 5px;
        .user-name {
            cursor: pointer;
            color: #4c88ff;
            font-size: 14px;
            font-weight: 400;
        }

        .card-text {
            // padding: ;
            font-size: 12px;
            color: rgb(99, 99, 99);
        }
    }
}

.section-header{
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-weight: 500;
}