.home {
    padding: 50px 100px;
    display: flex;

    .container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1140px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .first-container {
        background-color: red;
    }

    .second-container {
        background-color: blue;
    }

}